release/any/
release/libz/
release/x64/
release/x86/

# regular .NET output
bin/
obj/
ipch/
*.opensdf
*.user
*.suo
*.sdf
*.snk

# NuGet packages
source/packages/**
!source/packages/repositories.config
!source/.nuget/NuGet.exe
